<!-- Footer -->
<footer id="footer" class="footer-7 relative">
	
	<!-- Footer Copyright -->
	<div class="footer-copyright typo-light">
		<div class="container">
			<div class="row">
				<!-- Copy Right Logo -->
				{{ page.footer_bottom_logo }}
				<!-- Copy Right Logo -->
				<!-- Copy Right Content -->
				{% if copyright_text %}
					{{ copyright_text|t }}
				{% endif %}<!-- Copy Right Content -->
				<!-- Copy Right Content -->
				<div class="col-md-4">
					<nav class="sm-menu">
						{{ page.menu_footer }}
					</nav><!-- Nav -->
				</div><!-- Copy Right Content -->
			</div><!-- Footer Copyright -->
		</div><!-- Footer Copyright container -->
	</div><!-- Footer Copyright -->
</footer>
<!-- Footer -->