<!-- Page Main -->
<!-- Header Begins -->
{% include theme_path ~ "/templates/header/header-3.html.twig" %}
<!-- Header Ends -->
{% if page.slider %}
	{{ page.slider }}
{% endif %}
<!-- Model Window -->
{% if page.model_window %}
	{{ page.model_window }}
{% endif %}
<!-- Model Window -->

<section class="col-sm-12">
  {% if page.one_third_content_left %}
  <div class="col-sm-5"> {{ page.one_third_content_left }} </div><!-- Left Content -->
  {% endif %}

  {% if page.two_third_content_right %}
  <div class="col-sm-7"> {{ page.two_third_content_right }} </div><!-- Right Content -->
  {% endif %}
</section>
