<!-- Header Begins -->	
<header id="header" class="default-header colored flat-menu mega-menu-contain-screen">
	<div class="header-top">
		<div class="container">
            <nav>
                {{ page.header_top_1 }}
            </nav>
			{{ page.header_social_bar }}
		</div>
	</div>
	<div class="container">
		<div class="logo">
        	{{ page.header }}
        </div>
        <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
        	<i class="fa fa-bars"></i>
        </button>
	</div>
	<div class="navbar-collapse nav-main-collapse collapse">
		<div class="container mega-menu-wide-container">
			{{ page.main_menu }}
		</div>
	</div>
</header><!-- Header Ends -->