<header id="header" class="flat-menu narrow full-width" data-plugin-options='{"stickyEnabled": true, "stickyWithGap": false, "stickyChangeLogoSize": false}'>
	<div class="container">
        <div class="logo">
            {{ page.header }}
        </div>
        <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
        	<i class="fa fa-bars"></i>
        </button>
	</div>
	<div class="navbar-collapse nav-main-collapse collapse">
		<div class="container">
			{% if header_social_networks %}
				{{ header_social_networks|t }}
			{% endif %}
			{{ page.main_menu }}
		</div>
	</div>
</header>