<section {{ attributes.addClass('m-20') }}>
  {% if label %}
  <!-- Title -->
  <div class="title-container sm text-left">
    <div class="title-wrap">
      <h3 class="title">{{ label }}</h3>
      <span class="separator line-separator"></span>
    </div>
  </div><!-- Title -->
  {% endif %}

  {{ title_suffix }}
  {% if content %}
  {{ content }}
  {% endif %}
</section>