<!-- Section -->
<section{{ attributes }}>
	<div class="container agenchy-form-get-quote">
		<!-- Row -->
		<div class="row">
			<div class="col-sm-5">
				<div class="contact-info">
					<div class="info-icon bg-color info-label label-lg">
						{% if label %}
						<span class="title">{{ label }}</span>
						{% endif %}
					</div>
					{{ title_suffix }}
				    {% if content %}
				      {{ content }}
				    {% endif %}
				</div><!-- Contact Info -->
			</div><!-- Column -->
		</div><!-- Row -->
	</div><!-- Container -->
</section><!-- Section -->