<!-- Theme Panel Switcher -->
{% if disable_switch =='on' %}
    {% include theme_path ~ "/templates/switcher-style.html.twig" %}
{% endif %}<!-- End Theme Panel Switcher -->

<!-- Header Begins -->
{% if header_style == 'style2' %}
	{% include theme_path ~ "/templates/header/header-2.html.twig" %}
{% elseif header_style == 'style3' %}
	{% include theme_path ~ "/templates/header/header-3.html.twig" %}
{% elseif header_style == 'style4' %}
	{% include theme_path ~ "/templates/header/header-4.html.twig" %}
{% elseif header_style == 'style5' %}
	{% include theme_path ~ "/templates/header/header-5.html.twig" %}
{% elseif header_style == 'style7' %}
	{% include theme_path ~ "/templates/header/header-7.html.twig" %}
{% elseif header_style == 'style8' %}
	{% include theme_path ~ "/templates/header/header-8.html.twig" %}
{% elseif header_style == 'style9' %}
	{% include theme_path ~ "/templates/header/header-9.html.twig" %}
{% elseif header_style == 'style10' %}
	{% include theme_path ~ "/templates/header/header-10.html.twig" %}
{% elseif header_style == 'style1'%}
	{% include theme_path ~ "/templates/header/header-1.html.twig" %}
{% endif %}
<!-- Header Ends -->

<!-- Page Header -->
{% if page_headers_style == 'dark' %}
	{% include theme_path ~ "/templates/page header/page-header-2.html.twig" %}
{% elseif page_headers_style == 'small' %}
	{% include theme_path ~ "/templates/page header/page-header-3.html.twig" %}
{% elseif page_headers_style == 'center' %}
	{% include theme_path ~ "/templates/page header/page-header-4.html.twig" %}
{% elseif page_headers_style == 'button' %}
	{% include theme_path ~ "/templates/page header/page-header-5.html.twig" %}
{% elseif page_headers_style == 'contact' %}
	{% include theme_path ~ "/templates/page header/page-header-6.html.twig" %}
{% elseif page_headers_style == 'video' %}
	{% include theme_path ~ "/templates/page header/page-header-7.html.twig" %}
{% elseif page_headers_style == 'image' %}
	{% include theme_path ~ "/templates/page header/page-header-8.html.twig" %}
{% elseif page_headers_style == 'color' %}
	{% include theme_path ~ "/templates/page header/page-header-9.html.twig" %}
{% else %}
	{% include theme_path ~ "/templates/page header/page-header-1.html.twig" %}
{% endif %}
<!-- Page Header -->

<!-- Model Window -->
{% if page.model_window %}
	{{ page.model_window }}
{% endif %}
<!-- Model Window -->		
{% if header_style == 'style6' %}
	{% include theme_path ~ "/templates/header/header-6.html.twig" %}	
{% endif %}
<div role="main" class="main">
	<div class="page-default bg-grey typo-dark">
		<div class="container">
			<div class="row">
				{{ page.content_full_bar }}
				{{ page.content }}
			</div>
		</div>
	</div>
</div>

<!-- Footer -->
{% if footer_style == 'style2' %}
	{% include theme_path ~ "/templates/footer/footer-2.html.twig" %}
{% elseif footer_style == 'style3' %}
	{% include theme_path ~ "/templates/footer/footer-3.html.twig" %}
{% elseif footer_style == 'style4' %}
	{% include theme_path ~ "/templates/footer/footer-4.html.twig" %}
{% elseif footer_style == 'style5' %}
	{% include theme_path ~ "/templates/footer/footer-5.html.twig" %}
{% elseif footer_style == 'style6' %}
	{% include theme_path ~ "/templates/footer/footer-6.html.twig" %}
{% elseif footer_style == 'style7' %}
	{% include theme_path ~ "/templates/footer/footer-7.html.twig" %}
{% elseif footer_style == 'style8' %}
	{% include theme_path ~ "/templates/footer/footer-8.html.twig" %}
{% else %}
	{% include theme_path ~ "/templates/footer/footer-1.html.twig" %}
{% endif %}
<!-- Footer -->